.navbar{

    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #e4e0e0;
}

.navbar h3{

    color: #1c79dc;
    margin: 0;
    cursor: default;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

.nav-options{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.nav-options p{
    margin: 0;
    color: rgb(39, 38, 38);
    cursor: pointer;
    font-size: 20px;
}

.nav-options p:hover{

    color: rgb(97, 123, 255);
    font-weight: 500;
}